@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 14px;
  scroll-padding-top: 10rem;
  scroll-behavior: smooth;
}


.custom-container {
  max-width: 1350px;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

#service-carousel .swiper-slide {
  width: auto;
  align-self: stretch;
  height: auto;
}

#service-carousel .swiper-button-prev,
#service-carousel .swiper-button-next {
  color: #72A0C1;
  /* background-color: red; */
}

#service-carousel .swiper-button-prev::after,
#service-carousel .swiper-button-next::after {
  font-size: 2rem;
}

@media (min-width: 640px) and (max-width: 1023px) {
	html {
		font-size: 15px;
	}
}

@media (min-width: 1024px) {
	html {
		font-size: 16px;
	}
}